/Debug
/Release
/x64
/testrunner/Debug
/testrunner/Release
*.ncb
*.suo
*.user
.vs
*.VC.db
*.VC.opendb
/ipch
*.sdf
*.opensdf
*.o
/vibasc
/testrunner/testrunner
/.idea
/*.ASC
/*.MAC
/*.OBJ
/tests/*.tmp
/x-*
